:root [theme='yellow-blue'] {
    --bg-color: #fff0c3;
    --main-color: #3d4662;
    --main-text-color: #3d4662;
    --second-color: white;
}

:root [theme='red-black'] {
    --bg-color: #ff6b50;
    --main-color: black;
    --main-text-color: black;
    --second-color: white;
}

:root {
    --bg-color: white;
    --main-color: black;
    --main-text-color: black;
    --second-color: white;
}

body {
    background-color: var(--bg-color);
}

h4, label, li, p {
    color: var(--main-text-color);
    font-weight: 600;
}

a {
    text-decoration-color: var(--main-text-color);
    color: var(--main-color);
}

a:hover {
    text-decoration-color: var(--main-color);
}

.p-border {
    border: 2px solid var(--main-color) !important;
}

.p-border-1 {
    border: 1px solid var(--main-color) !important;
}

.form-control:focus {
    box-shadow: -4px 4px var(--main-color);
    transform: translateX(4px) translateY(-4px);
}

.form-control:disabled {
    border: 1px solid var(--main-color);
}

.btn {
    border: 1px solid var(--main-color);
}

.btn:focus {
    box-shadow: -4px 4px var(--main-color);
    border: 1px solid var(--main-color);
    transform: translateX(4px) translateY(-4px);
}

.card {
    border: 2px solid var(--main-color);
}

.card.rise, .card.hover:hover {
    position: relative;
    bottom: 5px;
    left: 5px;
    box-shadow: -5px 5px var(--main-color);
}

::selection {
    background-color: var(--main-color);
    color: var(--second-color);
}