@font-face {
    font-family: 'templates';
    src: url('./fonts/LexendDeca-Regular.ttf');
    font-display: swap;
}

:root {
    --animation-speed: 0.2s;
}

body {
    font-family: templates;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

select.main {
    cursor: pointer;
}

input.main:not([type="checkbox"]), select.main {
    width: 100%;
    padding: 6px 15px;

    border-radius: 10px;
    border: none;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    font-size: 16px;
    height: 40px;
}

input.main:active, select.main:active {
    outline: black;
}

label.input-label {
    display: block;
    margin-bottom: 5px;
}

.no-margins {
    margin: 0;
}

a {
    color: #3481ff;
    letter-spacing: 1px;
}

a:visited {
    color: coral;
}
